<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248133674895-s5s4j39d0o0g43bvagpon6cb045a0208.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248133674895-s5s4j39d0o0g43bvagpon6cb045a0208</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5592oX95-wr6pEwVhWs6PqdbZ1RpKkE</string>
	<key>GCM_SENDER_ID</key>
	<string>248133674895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elcoyote.cameraevents</string>
	<key>PROJECT_ID</key>
	<string>camera-events-f329e</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-events-f329e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248133674895:ios:21c84cc2399ed46ae98dfa</string>
</dict>
</plist>